{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RDeit</title>
  <link rel="stylesheet" href="{% static 'css/Bootstrap5.css' %}">
  <link rel="stylesheet" href="{% static 'css/Fontawsome.css' %}">
  <link rel="stylesheet" href="{% static 'css/core.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <script src="{% static 'js/Bootstrap_JQuery.js' %}"></script>
  <script src="{% static 'js/Bootstrap_Popper.js' %}"></script>
  <script src="{% static 'js/Bootstrap5.js' %}"></script>
  <script src="{% static 'js/FontAwsome.js' %}"></script>
</head>