{% include 'header.html' %}

<div class="card text-center">
    <div class="card-body">
        <h1 class="text-danger">RDeit</h1>
        <H4>Let us know if you need any help!</H4>
        <h6>Our customer happiness agents will assist you with any issue you're facing.</h6>
        <div class="border border-dark rounded my-3 mx-5 p-3">
            <h3>Contact Us</h3>
            <div style="justify-content: center;" class="d-flex">
                <div class="my-3 mx-5">
                    <a href="tel:+91-9306967913"><i class="bi bi-telephone-outbound h1 text-danger"></i></a>
                </div>
                <div class="my-3 mx-5 d-flex" style="justify-content: center;">
                    <a href="mailto:rahuldahiya6967@gmail.com"><i class="bi bi-envelope-at h1 text-danger"></i></a>
                </div>
            </div>
            <p>Contact timings 9:00 AM - 7:00 PM</p>
        </div>
        <div class="border border-dark rounded my-3 mx-5 p-3">
            <h3>Follow Us</h3>
            <div class="d-flex" style="justify-content: center;">
                <div class="my-3 mx-5">
                    <a href="https://www.instagram.com/__dahiya01__/"><i class="bi bi-instagram h1 text-danger"></i></a>
                </div>
                <div class="my-3 mx-5">
                    <a href="https://www.linkedin.com/in/rahul-dahiya-172a5b263?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="bi bi-linkedin h1 text-danger"></i></a>
                </div>
                <div class="my-3 mx-5">
                    <a href="https://github.com/dashboard"><i class="bi bi-github h1 text-danger"></i></a>
                </div>
            </div>
            <p>Get all latest updates regarding our products and services</p>
        </div>
    </div>
</div>

{% include 'footer.html' %}