{% include 'base.html' %}

<body>
  <nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="#">RDeit</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {{home}}" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{about}}" href="/aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{contact}}" href="/contactus">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
        </ul>
        <form class="d-flex">
          {% if request.session.user_id %}
          <a href="/logout" class="btn m-2 btn-outline-light">Logout</a>
          {% else %}
          <a href="/signup" class="btn m-2 btn-outline-light">SignUp</a>
          <a href="/login" class="btn m-2 btn-outline-light">Login</a>
          {% endif %}
        </form>
      </div>
    </div>
  </nav>



</body>

</html>